{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="home">
    <h1>Bienvenido a TechStore</h1>
    <p>Somos una empresa especializada en la venta de tecnología: celulares, accesorios y gadgets modernos.</p>
    <p>Compra fácil, rápido y seguro.</p>

    <div class="home-buttons">
        <a href="/login" class="btn">Iniciar sesión</a>
        <a href="/registro" class="btn secondary">Registrarse</a>
        <a href="/productos" class="btn terciary">Entrar como invitado</a>
    </div>
</div>
{% endblock %}