{% extends "base.html" %}
{% block content %}
<div class="form-box">
    <h2>Iniciar sesión</h2>
    <form method="POST">
        <input type="email" name="correo" placeholder="Correo" required>
        <div style="position:relative;">
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <span onclick="verPassword()" style="position:absolute; right:10px; top:50%; transform:translateY(-50%); cursor:pointer;">
            👁️
            </span>
        </div>
        <button>Entrar</button>
    </form>
    <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
</div>
{% endblock %}